---
interface Props {
  gridTitle: string;
  gridItems: {
    title: string;
    description: string;
    field: string;
  }[];
}

const {gridTitle, gridItems} = Astro.props;

// Icon mapping for research areas
const getIcon = (field: string) => {
  switch (field) {
    case 'computer-graphics':
      return `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" fill="currentColor" class="w-14 h-14" style="margin-left:-3px;">
      <path fill="#347aeb" opacity="1.000000" stroke="none" d="M305.855316,668.903137 
          C338.840424,622.643860 371.920868,576.891479 404.315033,530.658142 
          C445.505341,471.870789 487.816650,413.860687 527.392334,353.947723 
          C529.593994,350.614685 531.973999,347.397919 534.312866,344.157349 
          C539.372009,337.147766 547.435181,336.288544 553.613953,342.497223 
          C563.173035,352.102570 570.476318,363.541595 578.475647,374.380219 
          C610.126404,417.265167 641.639160,460.252960 673.013916,503.340363 
          C720.759949,568.910645 767.732239,635.054810 816.198303,700.086914 
          C855.322449,752.584106 892.031738,806.792786 931.152588,859.270874 
          C938.318237,868.883240 945.689697,878.344849 953.099609,887.771118 
          C956.505737,892.104065 957.547363,896.743713 955.285461,901.731445 
          C952.926086,906.934021 948.295593,908.190063 942.916382,908.428772 
          C920.822205,909.409241 898.713867,910.151733 876.672546,912.149414 
          C869.551575,912.794800 862.381042,913.270569 855.237305,913.221863 
          C830.073120,913.050354 804.966614,914.721069 779.841064,915.567383 
          C750.422302,916.558167 721.040955,918.696777 691.649109,920.434021 
          C668.093018,921.826294 644.623047,924.302429 621.044189,925.584106 
          C591.943054,927.166016 562.864929,929.093018 533.719666,928.146912 
          C509.120422,927.348328 484.520325,926.400574 459.963165,924.528137 
          C446.200043,923.478760 432.380829,923.188416 418.600433,922.336731 
          C399.855499,921.178162 381.128784,919.724365 362.383728,918.567749 
          C352.920074,917.983704 343.412781,917.775391 333.953125,917.587646 
          C306.816101,917.048950 279.743835,915.222961 252.644241,914.063354 
          C230.040482,913.096008 207.429535,912.257751 184.830170,911.199768 
          C176.342819,910.802429 167.864380,910.127991 159.375626,910.445679 
          C153.666092,910.659424 149.239899,908.954834 146.459610,903.806396 
          C143.557129,898.431641 144.969269,893.429138 148.185989,888.830872 
          C153.531067,881.190063 159.080093,873.691895 164.540329,866.131653 
          C193.202759,826.445740 222.557281,787.261902 250.595993,747.122742 
          C268.808075,721.051025 287.286652,695.165405 305.855316,668.903137 
        M822.476013,747.996155 
          C802.324280,719.892212 782.172607,691.788269 761.561340,663.043396 
          C725.874084,717.346069 692.789856,772.370422 657.572571,827.278564 
          C744.212463,842.812561 829.015869,863.059509 915.496277,878.569214 
          C884.619629,835.244873 853.742981,791.920471 822.476013,747.996155 
        M185.633392,876.582214 
          C184.503052,881.418823 188.419830,878.550171 189.159180,878.403076 
          C224.461838,871.379333 259.711121,864.088196 294.999237,856.990295 
          C332.563538,849.434631 370.162964,842.053894 407.741699,834.569885 
          C418.568817,832.413513 429.377350,830.164062 440.952301,827.802673 
          C404.726532,774.773743 371.544159,720.413086 335.869354,667.717834 
          C333.404022,668.785400 332.445221,670.615479 331.349548,672.229431 
          C314.594818,696.909058 296.079895,720.327759 279.067322,744.806213 
          C248.453766,788.854370 216.885391,832.220215 185.633392,876.582214 
        M611.062500,572.494812 
          C593.245483,562.405212 575.428528,552.315552 556.820435,541.778015 
          C556.820435,599.523865 556.820435,655.836243 556.820435,713.652161 
          C613.937805,689.524719 670.100830,665.800415 727.422791,641.586609 
          C688.269409,617.284363 649.897400,595.219604 611.062500,572.494812 
        M534.657593,676.500061 
          C534.580872,631.791199 535.159241,587.073914 533.335999,541.410583 
          C477.948975,576.304443 422.846375,610.055847 368.015656,646.528076 
          C423.442657,670.359314 478.928497,691.119873 534.657104,714.344666 
          C534.657104,701.060669 534.657104,689.280396 534.657593,676.500061 
        M556.339355,437.499939 
          C556.341919,461.160126 556.449097,484.821198 556.247131,508.479645 
          C556.212341,512.558289 557.596252,514.903381 561.019836,516.823792 
          C571.330017,522.607300 581.550537,528.553162 591.747681,534.535156 
          C632.106628,558.211243 672.438477,581.933533 712.800171,605.605042 
          C715.282776,607.060974 717.935791,608.226318 720.509521,609.526855 
          C720.778015,609.191833 721.046448,608.856750 721.314941,608.521729 
          C667.200745,533.667114 613.266602,458.680237 557.644714,384.933319 
          C557.209656,385.158783 556.774597,385.384247 556.339539,385.609741 
          C556.339539,402.573120 556.339539,419.536530 556.339355,437.499939 
        M459.980560,561.461731 
          C483.247467,546.845642 506.486115,532.184143 529.812012,517.662842 
          C533.279541,515.504150 534.758911,513.008118 534.742432,508.784363 
          C534.586914,468.965912 534.653625,429.146606 534.621216,389.327576 
          C534.619873,387.649536 535.079468,385.811737 533.373169,383.486725 
          C481.630615,463.031158 423.777161,537.604858 371.607025,616.304810 
          C400.846924,598.131165 430.086823,579.957520 459.980560,561.461731 
        M655.879700,695.437073 
          C625.860474,708.425903 595.841187,721.414734 565.057617,734.734253 
          C590.351318,761.713318 614.932007,787.931824 640.060120,814.734314 
          C671.246704,764.133057 702.503418,715.197815 732.908752,664.174072 
          C706.478943,674.910767 681.537048,685.042969 655.879700,695.437073 
        M503.698578,725.924927 
          C458.380646,707.686035 413.062744,689.447144 367.744812,671.208252 
          C367.471313,671.572388 367.197815,671.936523 366.924316,672.300659 
          C397.900085,720.652527 428.875824,769.004395 460.320221,818.087769 
          C482.009308,790.343567 503.186005,763.254883 524.939148,735.428772 
          C517.630310,732.159363 511.011169,729.198486 503.698578,725.924927 
        M424.444885,900.684570 
          C458.105774,903.659119 491.851227,904.514771 527.056702,905.211487 
          C503.694550,886.097351 481.427948,867.882324 459.166565,849.660889 
          C457.459686,848.263733 455.511169,848.194153 453.487244,848.561035 
          C423.952393,853.914185 394.352112,858.899109 364.958527,865.032776 
          C336.216736,871.030457 307.389343,876.616699 278.621033,882.488892 
          C265.366821,885.194458 252.163910,888.151306 238.937729,890.994202 
          C242.269150,891.661926 245.556274,891.418518 248.796860,891.703857 
          C263.046448,892.958496 277.317139,893.472229 291.618103,893.772827 
          C310.069489,894.160583 328.532990,894.733765 346.943329,895.951843 
          C354.589783,896.457764 362.234558,896.351624 369.864807,896.910583 
          C387.745117,898.220459 405.633362,899.422485 424.444885,900.684570 
        M805.993164,879.702148 
          C781.626648,874.719421 757.272095,869.677551 732.890625,864.769104 
          C703.460205,858.844177 673.992310,853.103821 644.585205,847.066772 
          C641.461975,846.425598 639.679810,847.271606 637.586853,849.255737 
          C624.412537,861.745056 610.999207,873.984985 597.950378,886.602600 
          C591.688477,892.657532 584.643188,897.950134 578.692322,905.158875 
          C585.175720,906.566956 590.885071,904.751831 596.621582,904.578308 
          C611.403137,904.131165 626.188293,903.504456 640.942078,902.506775 
          C661.645142,901.106873 682.309631,899.139160 703.012085,897.728149 
          C720.748718,896.519287 738.505005,895.403137 756.271362,894.869690 
          C784.038757,894.036194 811.747742,891.802673 839.539429,891.591858 
          C844.110474,891.557129 848.676575,890.860779 853.244934,890.470276 
          C853.259155,890.195984 853.273315,889.921631 853.287537,889.647339 
          C837.789917,886.429382 822.292358,883.211426 805.993164,879.702148 
        M576.500000,825.713867 
          C590.853455,825.713867 605.206909,825.713867 619.560364,825.713867 
          C619.660828,825.268982 619.761292,824.824158 619.861816,824.379272 
          C595.267639,798.528015 570.673401,772.676758 545.979492,746.720703 
          C524.145569,772.925415 503.270447,799.000916 483.559265,825.714600 
          C514.201843,825.714600 544.850891,825.714600 576.500000,825.713867 
        M525.418091,874.061584 
          C533.807312,880.896423 542.273865,887.639771 550.540710,894.619568 
          C553.169373,896.838989 554.928833,896.581909 557.301819,894.317749 
          C571.034424,881.214844 584.890564,868.241455 598.668579,855.185913 
          C601.072632,852.907837 603.304016,850.447449 605.939270,847.737915 
          C567.879700,847.737915 530.716858,847.737915 492.283447,847.737915 
          C503.801758,856.871643 514.344788,865.231995 525.418091,874.061584 
        z"/>
        <path fill="#000000" opacity="1.000000" stroke="none" 
          d="
        M348.844360,328.976959 
          C334.224823,337.418579 319.244751,343.526794 302.360260,343.298584 
          C293.777618,343.182617 285.548401,341.083954 277.701782,337.783752 
          C274.517548,336.444489 272.683197,337.009216 270.359894,339.381042 
          C261.150757,348.782501 251.725418,357.972534 242.355209,367.215546 
          C240.935196,368.616364 239.481140,370.017609 237.875656,371.189697 
          C228.913544,377.732635 218.868652,374.915527 215.591736,364.328064 
          C211.420776,350.851959 207.894516,337.167999 204.371857,323.501099 
          C194.049255,283.452271 183.162247,243.554489 172.589081,203.574493 
          C170.020294,193.861221 166.821701,185.599976 159.451416,178.279922 
          C148.964340,167.864273 140.180267,155.795990 129.895935,145.078918 
          C119.923004,134.686371 120.378540,128.600510 130.505661,118.265633 
          C147.527420,100.894653 164.499268,83.474754 181.492996,66.076302 
          C181.842224,65.718765 182.200287,65.369766 182.557541,65.020149 
          C191.765671,56.008465 193.284348,57.027740 201.563583,64.961586 
          C217.434723,80.170601 233.424515,95.273499 250.552673,109.100433 
          C253.057648,111.122612 255.851120,112.502678 258.901520,113.467278 
          C310.743835,129.860794 362.584534,146.259506 414.413940,162.693832 
          C417.102631,163.546387 419.807953,164.496124 422.298615,165.796844 
          C431.522095,170.613754 433.233887,178.784119 426.652191,186.847610 
          C420.954010,193.828659 414.552917,200.158661 407.807312,206.132812 
          C404.315155,209.225555 400.787109,212.277725 397.289276,215.364105 
          C395.978546,216.520691 394.884888,217.730591 396.169250,219.626144 
          C405.627899,233.585846 404.154388,248.748276 399.074432,263.246887 
          C389.595886,290.299469 373.702698,312.965240 348.844360,328.976959 
        M205.274567,238.479950 
          C212.652374,265.399445 220.030182,292.318939 227.591675,319.908630 
          C277.999939,273.055542 324.361328,223.643311 372.999329,175.864960 
          C371.294281,175.147507 369.980774,174.527084 368.621460,174.032715 
          C327.836395,159.199203 286.754150,145.230499 245.535889,131.653229 
          C242.406662,130.622452 240.456146,131.256943 238.180283,133.660202 
          C223.407700,149.259613 208.948212,165.166870 193.433212,180.047104 
          C191.390411,182.006332 190.771912,183.929520 191.513626,186.675522 
          C196.101486,203.660629 200.577423,220.675980 205.274567,238.479950 
        M302.388489,307.867279 
          C298.617767,311.784698 294.847046,315.702118 291.022583,319.675385 
          C292.684631,321.235382 294.293274,321.483856 295.943329,321.618469 
          C309.224884,322.701782 321.820526,320.468842 333.311859,313.489441 
          C355.878601,299.783112 370.545258,279.727081 379.454987,255.219254 
          C381.506897,249.575012 382.286407,243.584610 381.561401,237.548584 
          C381.060425,233.377609 379.171448,232.571793 376.077606,235.210602 
          C372.283142,238.446930 368.535156,241.760712 365.003265,245.278198 
          C344.255981,265.940704 323.577545,286.672394 302.388489,307.867279 
        z"/>
        <path fill="#ebcc34" opacity="1.000000" stroke="none" 
          d="
        M376.964905,342.295197 
          C376.202942,336.592651 376.894867,331.808075 382.365112,329.229065 
          C387.365356,326.871735 393.402252,328.721954 398.339661,334.282074 
          C406.294769,343.240387 414.030853,352.393250 421.987640,361.350006 
          C431.491913,372.048615 441.123352,382.634399 450.725159,393.246002 
          C451.603027,394.216217 452.665680,395.019287 453.582001,395.845398 
          C454.790192,395.321533 454.551697,394.393005 454.594116,393.612335 
          C454.933441,387.369446 458.231537,383.846832 463.944550,383.656952 
          C469.945068,383.457520 474.870209,387.322083 475.190521,393.314178 
          C475.580902,400.616577 475.690277,407.985870 475.151642,415.269318 
          C474.738403,420.857330 471.727112,425.321838 466.088684,427.346558 
          C455.974518,430.978394 445.527435,432.760651 434.793335,432.164001 
          C426.511108,431.703583 422.141266,426.875275 422.691162,419.441620 
          C423.078644,414.202789 426.449127,410.892853 431.690247,410.665985 
          C433.304749,410.596100 434.924835,410.655121 437.836609,410.655121 
          C431.969482,404.134766 426.959686,398.484741 421.860687,392.916351 
          C408.260620,378.064331 394.631714,363.238678 380.986267,348.428314 
          C379.390686,346.696503 377.954102,344.897736 376.964905,342.295197 
        z"/>
        <path fill="#ebcc34" opacity="1.000000" stroke="none" 
          d="
        M454.030518,290.156006 
          C444.759216,286.342834 435.703094,282.974670 427.306763,278.171967 
          C422.711670,275.543579 420.308167,270.811218 421.246704,266.586548 
          C422.241302,262.109497 424.945831,259.326416 429.514496,258.281708 
          C431.825623,257.753235 433.832886,258.418671 435.752289,259.371704 
          C454.695099,268.777435 474.857971,275.217133 494.320618,283.363495 
          C501.372467,286.315094 502.737244,290.372864 500.603912,297.672791 
          C498.905182,303.485413 492.288422,305.933899 486.161407,303.486145 
          C475.513550,299.232391 464.972717,294.710846 454.030518,290.156006 
        z"/>
        <path fill="#ebcc34" opacity="1.000000" stroke="none" 
          d="
        M327.959534,445.349182 
          C323.565186,443.890411 321.492676,440.998016 320.604980,436.915161 
          C316.411743,417.628662 312.082062,398.371704 307.936218,379.075195 
          C307.495789,377.025177 307.592285,374.710175 308.041473,372.649231 
          C309.032715,368.100952 314.160400,363.956604 318.460663,363.816345 
          C321.790894,363.707733 326.886566,368.676910 328.095856,373.561707 
          C330.208099,382.094177 332.213623,390.654846 334.129395,399.233704 
          C336.513184,409.908325 338.821625,420.600677 341.048615,431.309082 
          C343.038696,440.878143 337.179321,447.320465 327.959534,445.349182 
        z"/>
        </svg>`;
    case 'physics-simulation':
      return `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" fill="currentColor" class="w-16 h-16" style="margin-left:-6px;">
      <path fill="#9d00ff" opacity="1.000000" stroke="none" d="M892.279053,545.995728 
          C884.613403,581.268250 876.946716,616.110229 869.389771,650.976013 
          C860.213745,693.311707 851.188416,735.680115 841.969177,778.006348 
          C839.440002,789.618164 835.076843,792.166565 823.329468,789.618530 
          C752.609436,774.278870 681.890930,758.932129 611.172424,743.585693 
          C575.328796,735.807434 539.488403,728.014099 503.641510,720.250854 
          C492.067108,717.744141 488.843262,712.884033 491.390503,701.388550 
          C500.580200,659.915833 509.973083,618.487366 518.961243,576.971130 
          C528.718506,531.902405 538.016357,486.734436 547.699951,441.649536 
          C552.543701,419.097961 557.735413,396.620148 562.901550,374.139282 
          C564.991455,365.044800 568.817688,362.943787 578.812805,365.036957 
          C613.421814,372.284882 648.034363,379.516876 682.624268,386.855316 
          C738.640686,398.739563 794.652954,410.643982 850.639343,422.668549 
          C868.162598,426.432129 885.615356,430.512604 903.244568,433.785492 
          C911.721436,435.359253 915.449585,441.005493 913.618103,449.345245 
          C906.571350,481.433167 899.431702,513.500671 892.279053,545.995728 
        z"/>
        <path fill="#ffd000" opacity="1.000000" stroke="none" 
          d="
        M464.352417,497.050720 
          C459.165649,522.769287 449.424622,546.067871 434.139557,566.958801 
          C407.424011,603.472290 371.973389,626.892273 327.691315,635.858215 
          C282.825043,644.942383 239.792007,639.018127 200.174484,615.287537 
          C156.935791,589.387878 129.676208,551.292969 118.949005,502.173340 
          C107.454033,449.538086 116.896835,400.554321 149.237198,357.003265 
          C178.209579,317.987671 217.251373,294.441132 265.386871,288.050690 
          C315.390320,281.412231 361.432983,292.754700 401.269348,324.642883 
          C435.029999,351.667511 456.054810,386.717255 464.404510,429.262543 
          C468.813171,451.726379 468.439362,474.170288 464.352417,497.050720 
        z"/>
        <path fill="#eb4934" opacity="1.000000" stroke="none" 
          d="
        M671.280273,262.167999 
          C661.044617,279.751953 650.920776,296.977753 640.910583,314.269409 
          C638.662476,318.152679 636.623169,322.183441 634.823975,326.293518 
          C632.336121,331.976990 632.858337,333.055725 639.032837,334.540436 
          C650.814087,337.373444 662.650024,339.979218 674.463074,342.680084 
          C675.920959,343.013428 677.388916,343.309998 678.833435,343.694031 
          C684.399658,345.173950 687.213013,349.104980 686.098511,353.797852 
          C684.785645,359.325897 679.988953,362.367523 674.314636,360.972198 
          C664.476135,358.552887 654.695312,355.899719 644.864868,353.446503 
          C636.806885,351.435577 628.670898,349.722900 620.860474,346.818848 
          C610.539795,342.981476 608.402100,338.234528 612.469177,327.873840 
          C615.285339,320.699860 619.632019,314.353424 623.523071,307.758698 
          C630.878296,295.292847 638.152832,282.779449 645.755066,269.782959 
          C633.822449,277.466461 623.600281,286.529785 612.943115,295.030487 
          C606.318237,300.314880 599.931702,305.978638 592.027039,309.441528 
          C582.831482,313.469879 577.266235,310.965149 574.627625,301.406555 
          C573.298645,296.592560 572.731934,291.680145 572.608337,286.657227 
          C571.963440,260.438202 571.168091,234.222870 570.390686,206.790314 
          C561.742798,231.006424 552.706543,253.823502 545.413025,277.269409 
          C543.518494,283.359589 541.634583,289.644653 534.084106,291.063477 
          C526.651123,292.460266 522.843994,287.212891 519.049194,282.341278 
          C509.327972,269.861664 499.753448,257.267853 490.089172,244.743683 
          C488.365692,242.510147 486.492981,240.391724 483.971436,237.356110 
          C484.881958,246.913223 487.545441,254.975449 489.956879,263.079742 
          C496.211334,284.099579 503.319427,304.866028 508.744446,326.130402 
          C509.559357,329.324646 510.182465,332.650177 510.269684,335.931580 
          C510.490479,344.238190 504.295380,348.941193 496.338196,346.371094 
          C483.770294,342.311829 472.507904,335.325562 460.551575,329.883240 
          C455.551453,327.607239 450.639709,325.136292 445.697021,322.735016 
          C442.387543,321.127136 440.054535,318.665863 439.107239,315.028229 
          C437.900024,310.392303 440.714386,306.229340 445.491608,305.707764 
          C450.136566,305.200592 454.341858,306.759155 458.463684,308.643890 
          C466.335724,312.243530 474.206055,315.847015 482.094849,319.409637 
          C483.569061,320.075439 485.126251,320.557526 486.663666,321.131317 
          C488.292206,318.561005 487.525269,316.374847 486.875427,314.147583 
          C476.633057,279.043945 466.407654,243.935379 456.181244,208.827118 
          C454.601379,203.403183 453.019135,197.979843 451.467865,192.547699 
          C449.823242,186.788589 451.199799,182.941086 455.701233,180.681122 
          C460.693481,178.174728 463.946320,180.909454 466.807709,184.504333 
          C487.035034,209.916916 506.239532,236.108978 525.828979,262.007721 
          C527.103638,263.692871 528.044434,265.696259 530.599854,266.996399 
          C533.651550,257.549866 536.451843,248.210281 539.676514,239.019638 
          C551.464600,205.422668 561.113342,171.180359 570.753479,136.932770 
          C571.068726,135.812820 571.347412,134.660660 571.839783,133.616272 
          C573.810547,129.436005 576.980774,126.996330 581.764221,127.792747 
          C586.555908,128.590561 588.270874,132.157089 588.297302,136.517624 
          C588.388184,151.510712 588.333191,166.504776 588.314209,181.498444 
          C588.272766,214.302872 590.009521,247.087448 589.411133,279.900330 
          C589.357483,282.840668 590.122681,285.795898 590.549805,289.067566 
          C593.934265,288.573059 595.930359,286.233704 598.149597,284.440460 
          C619.910339,266.857117 641.672363,249.275833 663.929810,232.320847 
          C666.571716,230.308395 669.392090,228.514725 672.221436,226.768127 
          C675.502686,224.742584 679.026428,223.587357 682.444946,226.300781 
          C686.138550,229.232483 686.021973,233.297180 684.705139,237.255280 
          C682.961548,242.496353 679.704346,247.011673 677.069946,251.823380 
          C675.231140,255.182098 673.314819,258.498413 671.280273,262.167999 
        z"/>
        <path fill="#eb4934" opacity="1.000000" stroke="none" 
          d="
        M405.146729,779.156067 
          C382.688263,800.039307 360.748413,820.953857 339.255585,842.334839 
          C334.273651,847.290894 328.952942,848.772705 325.549988,846.235291 
          C321.897705,843.511963 321.895264,838.780823 325.217651,832.141296 
          C343.696350,795.213196 362.609558,758.500671 380.339050,721.201050 
          C381.466736,718.828491 382.715759,716.434692 383.003845,712.743958 
          C376.933716,712.052124 370.868103,712.183411 364.856293,712.580261 
          C353.594025,713.323792 342.359955,714.488647 331.099701,715.270386 
          C323.466370,715.800354 315.808685,715.982788 308.161255,716.304688 
          C305.987762,716.396179 303.878418,716.199585 301.790466,715.403137 
          C298.623047,714.195068 296.901794,711.945557 296.750061,708.659790 
          C296.595764,705.318420 298.320435,703.086060 301.339569,701.627991 
          C325.027802,690.188416 348.695465,678.706177 372.360535,667.218689 
          C375.804962,665.546753 379.256744,663.876282 382.605438,662.024719 
          C385.837341,660.237793 388.657532,660.558899 391.184631,663.190674 
          C393.659302,665.767883 393.917450,668.745972 392.589569,671.964844 
          C391.068329,675.652344 387.860535,677.428162 384.543457,679.058228 
          C372.486481,684.983337 360.418945,690.887024 348.425140,697.191101 
          C357.912933,696.954346 367.332916,696.403870 376.767212,696.648254 
          C382.115082,696.786743 387.378448,697.458679 392.472717,699.085205 
          C400.540802,701.661072 403.196014,706.639038 400.862640,714.872559 
          C399.177246,720.819519 396.424438,726.347839 393.793182,731.915527 
          C385.182739,750.135071 375.905975,768.017578 366.586731,785.880249 
          C365.262573,788.418396 363.531006,790.911255 363.503998,795.659363 
          C369.311218,790.367920 374.192688,786.041382 378.940155,781.572449 
          C396.278198,765.251526 413.234192,748.520752 431.165009,732.837402 
          C433.409637,730.873962 435.849243,729.069885 438.407471,727.541870 
          C443.502197,724.498657 447.488220,725.453247 450.750580,730.461914 
          C453.115417,734.092590 454.864594,738.056763 456.458130,742.098755 
          C466.099030,766.552856 475.786682,790.988525 485.499420,815.414185 
          C486.084473,816.885498 486.392151,818.619629 488.274078,819.638977 
          C488.274078,809.730774 488.529816,799.999023 488.198456,790.287354 
          C487.898010,781.481689 486.880096,772.699646 488.640961,763.936401 
          C489.708038,758.625793 492.412079,756.196472 496.957825,756.556885 
          C501.135986,756.888123 502.867126,759.515869 503.396362,765.070557 
          C504.695312,778.704468 504.027374,792.370483 504.392700,806.016846 
          C504.837860,822.643066 505.649719,839.259277 506.251556,855.881653 
          C506.365417,859.026306 506.191345,862.124695 505.602264,865.289307 
          C504.810303,869.543579 502.754425,871.841492 498.523376,872.340332 
          C493.975128,872.876709 490.694519,871.171448 488.968201,866.878235 
          C483.939667,854.372437 479.030243,841.818420 473.945679,829.335693 
          C463.716827,804.223450 454.826599,778.574524 443.684601,753.829834 
          C440.677246,747.150940 440.076630,746.902893 434.716949,751.751770 
          C424.839386,760.687988 415.175873,769.860901 405.146729,779.156067 
        z"/>
        <path fill="#eb3465" opacity="1.000000" stroke="none" 
          d="
        M481.946869,564.791992 
          C478.928040,569.806641 476.238403,574.596741 473.196472,579.151611 
          C470.178833,583.670105 466.143677,584.834595 462.719818,582.620178 
          C458.717865,580.031860 458.065338,575.691650 461.175720,570.827148 
          C469.090179,558.449402 475.633148,545.401855 480.567474,531.561829 
          C486.104431,516.031677 489.628784,500.031036 491.686615,483.686371 
          C492.722382,475.459625 493.743530,467.247192 493.702576,458.923401 
          C493.678009,453.928711 496.887939,450.632172 501.149109,450.730072 
          C505.457733,450.829071 508.398834,454.078766 508.326019,459.146912 
          C507.792267,496.286011 499.259308,531.449341 481.946869,564.791992 
        z"/>
        </svg>`;
    case 'machine-learning':
      return `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" fill="currentColor" class="w-16 h-16" style="margin-left:-6px;">
      <path fill="#00d115" opacity="1.000000" stroke="none" d="M211.683151,522.874634 
          C205.032730,489.678223 222.213577,460.165497 254.206955,449.621368 
          C258.076660,448.346008 259.585815,446.477997 259.866302,442.211212 
          C261.496948,417.405090 260.324493,392.583649 260.800110,367.778503 
          C260.895264,362.814362 259.075531,360.681030 254.577499,359.300354 
          C234.747009,353.213409 220.375183,340.936737 213.355728,321.097198 
          C200.520615,284.820435 223.302032,246.425751 261.216248,240.933044 
          C281.364166,238.014145 299.641418,242.602753 314.095856,257.983948 
          C316.356262,260.389282 318.087250,260.453369 320.946136,258.952484 
          C361.792450,237.508911 403.201385,217.197952 445.124329,197.947159 
          C449.557251,195.911591 451.530396,193.533356 451.862946,188.314148 
          C453.420258,163.873108 469.255127,145.116882 493.191376,137.350418 
          C529.122009,125.692215 566.355286,147.165024 573.877441,183.773514 
          C573.910889,183.936340 574.021057,184.104858 573.996948,184.254929 
          C572.489136,193.647781 578.971375,196.506546 585.891296,199.783249 
          C618.852173,215.390869 651.670959,231.298874 684.512146,247.158371 
          C691.121765,250.350235 697.446716,254.128250 703.314636,258.502686 
          C706.460571,260.847931 708.384216,260.424011 710.932373,257.885254 
          C720.007263,248.843674 730.739014,242.813995 743.483093,240.618912 
          C764.037537,237.078552 781.761108,243.352753 796.826843,257.020111 
          C814.549927,273.098114 819.314514,293.661133 813.667847,316.213745 
          C808.031311,338.725830 792.769836,352.800018 770.632996,359.244629 
          C766.527405,360.439880 765.064087,362.209961 765.100830,366.455566 
          C765.318665,391.615967 765.357666,416.778564 765.290771,441.940033 
          C765.279480,446.191559 766.850708,447.944366 771.032593,449.068726 
          C812.456909,460.206604 830.502930,512.381653 804.497620,545.834534 
          C795.862915,556.942200 784.138062,563.942139 770.903625,568.226379 
          C766.748474,569.571533 765.106995,571.285217 765.148315,575.810730 
          C765.379333,601.137268 765.368469,626.467224 765.219482,651.794739 
          C765.194519,656.038025 766.514160,657.936218 770.746094,659.017822 
          C800.283691,666.566895 816.225464,696.298462 816.319214,718.700256 
          C816.435120,746.398560 795.081055,772.641052 767.687744,778.272827 
          C746.584045,782.611572 727.691101,778.386719 712.006165,762.986084 
          C709.529907,760.554749 707.580872,760.541687 704.580994,762.012634 
          C662.869934,782.465149 620.628967,801.788208 578.285095,820.885376 
          C575.367615,822.201111 574.540405,824.176941 574.312622,827.089111 
          C572.103455,855.329712 548.731323,879.668335 520.502747,883.230774 
          C488.998260,887.206726 458.659180,865.679993 453.036865,834.102295 
          C451.484131,825.381531 447.704010,821.774231 440.118317,818.206238 
          C401.847290,800.205139 363.315063,782.778625 324.897736,765.100769 
          C322.141327,763.832397 319.958984,761.822266 317.418427,759.777039 
          C311.915619,765.148743 306.174683,769.949463 299.393311,773.266541 
          C262.430084,791.346985 217.559265,769.274231 210.389664,726.752930 
          C206.211960,701.975952 224.239334,666.477722 256.043945,658.601990 
          C259.236145,657.811523 260.740662,656.294678 260.725616,652.740662 
          C260.615021,626.579834 260.607361,600.417725 260.768707,574.257263 
          C260.792755,570.358765 258.885406,569.270630 255.691101,568.209229 
          C237.197021,562.064087 222.615845,551.240356 214.754242,532.792786 
          C213.458252,529.751587 212.716782,526.474121 211.683151,522.874634 
        M564.228760,470.294922 
          C570.629211,477.522736 575.051025,485.870728 577.849731,495.049896 
          C578.681274,497.776978 580.043457,498.692017 582.819092,498.686554 
          C617.980103,498.617218 653.141296,498.622589 688.302368,498.667206 
          C691.267578,498.670959 692.980286,497.539032 693.640259,494.608948 
          C695.504211,486.334503 699.406921,478.965393 704.565613,472.373840 
          C707.199585,469.008179 706.418213,467.020142 703.769348,464.368103 
          C699.655518,460.249359 695.551819,456.039734 692.036865,451.417664 
          C676.912109,431.528717 661.524170,411.851471 645.919617,392.337067 
          C643.014771,388.704407 640.607117,388.015869 636.835876,390.729218 
          C628.051514,397.049500 619.201416,403.283356 610.263672,409.384888 
          C588.875610,423.985931 569.557983,441.309875 548.100403,456.254303 
          C554.060608,460.172211 559.283508,464.537201 564.228760,470.294922 
        M359.652222,418.109985 
          C347.148865,433.681152 334.683075,449.282806 322.110443,464.797852 
          C319.580780,467.919495 319.546448,470.358063 322.302002,473.491943 
          C327.426941,479.320557 331.284149,486.083984 332.139984,493.869720 
          C332.596954,498.026794 334.282471,498.701996 337.825043,498.693909 
          C372.463654,498.614838 407.102661,498.594696 441.741028,498.717194 
          C445.557648,498.730682 447.434174,497.494781 448.435120,493.775085 
          C450.932312,484.494720 455.539886,476.293610 461.647034,468.836334 
          C465.530090,464.094788 470.174622,460.093689 474.268127,455.508545 
          C473.794586,454.912079 473.549774,454.464233 473.184143,454.162964 
          C445.673645,431.491180 416.486786,411.051971 387.768036,389.987732 
          C384.805695,387.814972 382.682831,388.435303 380.604950,391.129120 
          C373.795990,399.956451 366.936646,408.744843 359.652222,418.109985 
        M501.651276,368.500061 
          C501.651184,337.347656 501.648773,306.195251 501.653290,275.042847 
          C501.654022,269.885254 501.260956,264.758423 500.911163,259.614502 
          C500.473267,253.174835 494.950867,254.400024 491.625366,252.395126 
          C488.587006,250.563354 487.208923,253.175552 485.682526,255.163208 
          C474.427887,269.818726 463.227783,284.516968 451.869080,299.091492 
          C435.393494,320.231476 418.862213,341.328979 402.196594,362.319061 
          C399.222137,366.065277 399.511963,368.343567 403.383240,371.161713 
          C432.727295,392.523346 461.940857,414.064148 491.264740,435.453644 
          C494.158020,437.564087 496.912079,440.039642 501.650696,441.742859 
          C501.650696,417.235260 501.650696,393.367676 501.651276,368.500061 
        M501.649902,754.213318 
          C501.650146,699.736267 501.657898,645.259155 501.627625,590.782104 
          C501.626129,588.132263 501.501923,585.447388 501.067871,582.839905 
          C500.074982,576.875183 499.014709,576.421082 494.196472,579.877991 
          C481.480316,589.001221 468.731934,598.083252 456.154907,607.395813 
          C438.633698,620.369202 420.639038,632.727417 404.423340,647.412964 
          C400.920227,650.585510 400.753143,652.949585 403.639954,656.578552 
          C417.221069,673.651367 430.567902,690.910217 444.075989,708.041382 
          C457.273621,724.778809 470.690399,741.344971 483.751801,758.187256 
          C488.747375,764.628845 488.383057,764.751099 496.254211,762.547668 
          C500.227020,761.435608 502.406799,759.464722 501.649902,754.213318 
        M524.335327,711.499939 
          C524.340271,725.663635 524.462097,739.828796 524.287170,753.990234 
          C524.225159,759.015503 525.444580,762.471191 531.097534,762.947632 
          C532.400513,763.057495 533.753601,763.432678 534.930359,764.002502 
          C537.483337,765.238647 538.900146,764.035461 540.330688,762.076233 
          C561.351624,733.286255 584.131653,705.856506 605.768555,677.541138 
          C612.424072,668.831360 619.422485,660.383606 626.125671,651.988953 
          C625.522278,649.820801 623.966431,649.012756 622.684143,648.020325 
          C615.176941,642.209656 607.683105,636.379333 600.084595,630.689331 
          C577.029968,613.425110 553.074768,597.371033 530.777710,579.086792 
          C528.368042,577.110840 524.991516,578.418945 524.449707,581.535583 
          C524.196106,582.994202 524.352539,584.527222 524.352234,586.026489 
          C524.344543,627.517639 524.340515,669.008728 524.335327,711.499939 
        M582.149597,310.332733 
          C567.487183,290.958832 551.122253,272.918549 537.208008,252.963196 
          C536.062988,251.321075 535.116516,250.851166 533.136414,251.473557 
          C524.993958,254.032837 524.375427,254.655518 524.371033,263.433899 
          C524.342712,320.216095 524.348022,376.998322 524.379333,433.780487 
          C524.380188,435.352112 523.645203,437.415680 525.483582,438.325012 
          C527.463928,439.304596 528.869080,437.531799 530.314758,436.507996 
          C548.245605,423.809631 566.159119,411.086853 584.082642,398.378204 
          C596.982727,389.231354 609.829895,380.007751 622.834778,371.012390 
          C626.530396,368.456177 627.477234,366.121307 624.104553,362.715851 
          C622.941345,361.541351 622.043213,360.106689 621.002380,358.808228 
          C608.199829,342.835907 595.393250,326.866852 582.149597,310.332733 
        M571.121765,541.500305 
          C567.162048,548.331726 562.347351,554.500977 556.207214,559.472839 
          C552.622681,562.375366 553.233887,564.234680 556.702698,566.628967 
          C561.492432,569.934937 566.029541,573.610107 570.640381,577.171753 
          C592.251648,593.865173 613.794678,610.647766 635.491638,627.228943 
          C641.478210,631.803955 641.748291,631.587036 646.206543,625.904968 
          C665.630493,601.148926 684.982544,576.336304 704.462891,551.624817 
          C706.243530,549.366028 706.376282,547.797913 704.564758,545.573181 
          C699.565918,539.433838 695.839600,532.559082 694.033813,524.814819 
          C693.339111,521.835144 691.653625,521.320862 689.014404,521.324036 
          C653.698853,521.366211 618.383057,521.381287 583.067749,521.277039 
          C579.689941,521.267090 578.330383,522.645081 577.760681,525.744507 
          C576.755920,531.210693 574.441406,536.181213 571.121765,541.500305 
        M331.309021,525.603516 
          C329.739960,532.958008 326.131195,539.273621 321.163879,544.793823 
          C318.864197,547.349548 318.805115,549.103210 321.075378,551.984009 
          C340.444916,576.563232 360.844574,600.335083 379.085419,625.801514 
          C383.244659,631.608276 383.557129,631.656311 389.198273,627.386902 
          C410.306854,611.411560 431.454712,595.486267 452.419922,579.324341 
          C459.093719,574.179504 465.888245,569.070862 471.517975,562.713501 
          C471.100739,561.974426 470.948364,561.459961 470.610809,561.142090 
          C459.680725,550.848389 450.796265,539.160522 445.800751,524.818359 
          C444.885040,522.189453 442.884308,521.388611 440.338654,521.387634 
          C405.529358,521.374329 370.720093,521.367310 335.910828,521.321350 
          C333.396393,521.318054 331.688324,522.077515 331.309021,525.603516 
        M374.739014,760.693115 
          C401.834747,772.932495 429.145477,784.690430 456.272644,797.770508 
          C459.460510,792.102417 461.605530,786.352661 466.094147,782.258179 
          C468.996765,779.610413 468.538483,777.600830 466.149628,774.776917 
          C449.266144,754.818909 433.659912,733.853943 417.748596,713.125854 
          C405.213165,696.795654 392.258209,680.787537 379.487885,664.634216 
          C376.415466,665.606384 374.068756,667.487427 371.677734,669.274292 
          C359.548737,678.338379 347.522003,687.543213 335.257965,696.420349 
          C331.711975,698.987061 330.869659,701.650452 331.839630,705.772522 
          C334.042114,715.132568 334.513733,724.601868 330.763306,733.700928 
          C328.968689,738.054932 330.510406,739.801636 334.369965,741.566528 
          C347.683624,747.654419 360.844940,754.075439 374.739014,760.693115 
        M576.320984,753.793091 
          C569.699097,761.884216 563.622437,770.369629 557.412659,779.261597 
          C563.222351,784.187134 565.626526,791.050110 569.111450,797.411499 
          C571.594604,796.453796 573.663696,795.825562 575.583374,794.890381 
          C613.865173,776.240234 653.497986,760.525757 691.608398,741.498596 
          C695.044128,739.783325 696.195312,737.896973 694.994263,734.036865 
          C692.132324,724.839050 691.519470,715.331970 693.881165,705.999939 
          C695.025208,701.479248 693.475403,699.356079 690.120117,697.027283 
          C677.405579,688.202332 664.939758,679.032898 653.105225,669.035339 
          C650.970581,667.231995 648.749695,665.533508 645.816406,664.496094 
          C638.953857,674.783508 630.759460,683.764832 623.297363,693.321655 
          C607.734558,713.253357 592.934204,733.777466 576.320984,753.793091 
        M379.547150,257.143921 
          C364.732178,265.098511 349.252380,271.663483 334.026245,278.750824 
          C330.420013,280.429413 329.604523,282.150391 330.633392,285.913757 
          C333.233307,295.423859 334.992310,305.159088 331.982513,314.865326 
          C330.795044,318.694794 331.870361,320.627472 334.844666,322.692169 
          C346.870026,331.039948 358.787476,339.543427 370.730774,348.009094 
          C373.412811,349.910248 375.909332,352.099670 378.929626,353.385651 
          C380.880615,352.156189 381.968628,350.489899 383.182404,348.908112 
          C395.740814,332.542206 408.256805,316.142944 420.929596,299.865845 
          C435.952942,280.569611 451.054840,261.333405 466.282166,242.198090 
          C468.997589,238.785767 469.629852,236.331482 466.161255,232.977280 
          C463.582062,230.483200 461.485291,227.285355 459.870514,224.052841 
          C458.026428,220.361389 456.058105,219.798309 452.412720,221.591995 
          C428.384552,233.414871 404.278595,245.079559 379.547150,257.143921 
        M649.408081,350.879639 
          C663.079041,341.080536 676.710815,331.225922 690.453003,321.527802 
          C693.300354,319.518372 694.831360,317.784576 693.850708,313.810883 
          C691.493225,304.258636 692.349121,294.597534 695.021240,285.215210 
          C696.118835,281.361023 694.714111,279.728729 691.552368,278.287384 
          C651.398682,259.982178 611.784058,240.543915 572.049316,221.358063 
          C570.739441,220.725616 569.447083,219.863113 567.939453,220.209000 
          C565.863098,227.618698 559.979919,232.391388 555.700684,238.112228 
          C559.009216,241.868591 562.251831,245.198822 565.096558,248.839890 
          C578.426941,265.901550 591.793274,282.938507 604.866333,300.196716 
          C617.735168,317.185242 632.131958,333.001434 643.791321,350.909515 
          C645.468933,353.486298 647.067261,352.303070 649.408081,350.879639 
        M716.588379,576.044983 
          C699.409790,599.702026 679.390381,621.161804 662.429504,645.256958 
          C663.718872,646.266602 664.588074,647.015381 665.523560,647.669312 
          C678.081909,656.448669 690.725098,665.109680 703.162415,674.057068 
          C706.313293,676.323853 708.322327,676.445007 711.159180,673.577820 
          C718.202393,666.459412 726.705322,661.514526 736.429016,659.098999 
          C740.759888,658.023193 741.762878,655.776855 741.734192,651.664978 
          C741.577332,629.168457 741.256531,606.658752 741.878235,584.178162 
          C742.124146,575.285706 741.362000,568.520142 730.980835,567.091003 
          C730.824341,567.069458 730.670715,566.965271 730.533691,566.872986 
          C726.490234,564.150696 723.445740,564.215515 721.395386,569.427856 
          C720.514282,571.667847 718.503479,573.463623 716.588379,576.044983 
        M300.781586,452.343994 
          C307.051147,446.298676 311.470612,438.795258 316.808044,432.015289 
          C331.316620,413.585541 345.817169,395.149384 360.386200,376.767517 
          C362.136505,374.559143 363.394073,372.793823 360.321655,370.660187 
          C346.152771,360.820557 332.033417,350.909698 317.656250,340.856476 
          C316.178802,342.244324 314.761108,343.618103 313.298706,344.942566 
          C306.336548,351.248230 298.899078,356.961914 289.686920,359.385529 
          C284.922485,360.639008 284.045685,363.132385 284.091217,367.565186 
          C284.326996,390.535248 284.287872,413.508545 284.247925,436.480499 
          C284.244049,438.720612 285.011078,441.373260 282.469513,443.287415 
          C280.907928,440.215057 282.266846,437.147339 281.337189,433.645416 
          C281.337189,437.137939 281.434479,439.964417 281.309509,442.781036 
          C281.187775,445.524139 282.314636,447.174530 284.946075,447.953552 
          C290.015015,449.454285 295.061127,451.032135 300.781586,452.343994 
        M697.038513,348.596039 
          C688.704041,354.394043 680.274048,360.060455 672.060242,366.024719 
          C662.668091,372.844543 662.735596,372.972473 669.902466,381.833038 
          C687.282776,403.320801 704.528687,424.914673 720.660767,447.365723 
          C725.227417,453.721008 725.060730,453.809540 732.525330,450.795227 
          C734.524780,449.987823 736.558044,449.150208 738.656616,448.728638 
          C741.929810,448.071045 742.972290,446.231750 742.749023,443.049042 
          C742.307007,436.746307 741.852234,430.430603 741.800903,424.117004 
          C741.647888,405.298889 741.544128,386.477631 741.753357,367.661285 
          C741.805176,363.001312 740.665283,360.434998 735.909119,358.953186 
          C728.901550,356.769928 722.481384,353.136719 716.658325,348.578522 
          C707.500977,341.410309 707.505981,341.403900 697.038513,348.596039 
        M319.415314,591.054321 
          C312.594330,582.062317 304.264984,574.226868 298.998962,563.896301 
          C295.180756,565.288574 291.690643,566.888000 288.029022,567.794983 
          C284.993469,568.546936 284.111206,570.023743 284.126312,573.001648 
          C284.261475,599.665283 284.306946,626.329529 284.281372,652.993469 
          C284.278381,656.122864 285.277710,657.879639 288.438049,658.760803 
          C298.254730,661.497925 306.928864,666.359985 313.898865,673.864319 
          C316.563599,676.733215 318.653076,676.334167 321.560730,674.286682 
          C330.141113,668.244507 338.906555,662.465393 347.586456,656.564087 
          C352.639618,653.128601 357.667603,649.656067 363.226379,645.843872 
          C348.493347,627.427429 334.170380,609.523621 319.415314,591.054321 
        M765.497986,543.967529 
          C784.363403,537.279419 794.746460,519.388611 790.533203,500.829834 
          C785.824219,480.087494 763.549744,466.679688 743.362793,472.436310 
          C723.270508,478.165955 711.628601,500.784698 718.393127,520.949097 
          C724.866760,540.246216 742.720276,549.223755 765.497986,543.967529 
        M292.603882,540.105225 
          C306.421448,530.699890 312.058472,517.439758 309.276367,501.256348 
          C305.952911,481.924042 287.302856,468.674530 267.726227,471.494629 
          C248.185059,474.309631 234.864700,490.582062 235.547684,510.502258 
          C236.572540,540.394287 269.732880,556.003174 292.603882,540.105225 
        M763.155334,682.284241 
          C738.696655,676.376038 711.487976,695.187988 718.457092,726.290649 
          C722.148743,742.766724 737.115601,755.516541 753.188232,755.640930 
          C770.480713,755.774841 786.266541,743.841614 790.172363,727.683044 
          C794.760437,708.702393 783.479004,689.236328 763.155334,682.284241 
        M488.803436,849.703796 
          C501.005554,859.846130 514.678772,861.965576 528.798828,855.137329 
          C543.051880,848.244812 550.060303,836.303345 549.717468,820.101685 
          C549.190796,795.215088 520.926941,777.114441 498.366486,787.575928 
          C474.510010,798.638550 467.129303,828.954956 488.803436,849.703796 
        M297.896576,692.601379 
          C288.930298,683.280029 278.076874,679.081604 265.319977,681.842529 
          C244.595093,686.327820 232.783035,704.637512 236.468506,725.792053 
          C239.545059,743.451416 255.853226,756.971497 272.954956,755.557495 
          C288.692719,754.256348 299.640320,745.782104 305.608978,731.359192 
          C311.453583,717.236145 308.872131,704.337708 297.896576,692.601379 
        M718.262573,294.711060 
          C712.536377,315.668213 734.221252,339.953796 758.072327,337.321381 
          C779.073792,335.003540 793.893005,316.473358 790.744934,296.023712 
          C788.131348,279.046234 771.912231,264.415527 754.773010,264.348938 
          C736.753662,264.278931 723.705811,274.862671 718.262573,294.711060 
        M529.531616,162.945694 
          C522.212219,159.326859 514.722656,157.545898 506.433014,159.310349 
          C482.895508,164.320312 470.108002,187.505463 479.350067,208.819550 
          C486.168152,224.543289 504.145508,234.623917 519.320740,231.232666 
          C536.690491,227.350998 550.422241,210.672440 549.524719,193.425430 
          C548.826050,179.998703 541.729675,170.067856 529.531616,162.945694 
        M265.697754,336.696655 
          C274.552551,338.781891 282.444519,336.166565 289.931641,331.683502 
          C302.513855,324.149658 309.313263,312.421082 308.202637,298.390533 
          C306.302277,274.382385 283.196960,260.730591 263.405457,265.482056 
          C251.463211,268.349152 241.756897,274.491302 237.655029,286.778046 
          C230.601303,307.906616 241.289368,331.705841 265.697754,336.696655 
        z"/>
        </svg>`;
    default:
      return `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
        <path d="M12 2L2 7v10c0 5.55 3.84 9.74 9 11 5.16-1.26 9-5.45 9-11V7l-10-5z"/>
      </svg>`;
  }
};
---
<h2 class="text-3xl font-bold mb-8">{gridTitle}</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {gridItems.map((item) => (
    <div class="p-6 rounded-lg text-base-content bg-base-200 hover:bg-base-300 transition-all duration-300 shadow-md hover:shadow-lg">
      <div class="flex items-center gap-4">
        <div class="text-accent flex-shrink-0" set:html={getIcon(item.field)}></div>
        <div>
          <h3 class="text-xl font-semibold mb-2">{item.title}</h3>
          <p class="text-base-content/70 text-sm">{item.description}</p>
        </div>
      </div>
    </div>
  ))}
</div>
